body{
    background-color: rgb(58, 58, 58);
}
body h1{
    background-color: rgb(78, 169, 175);
    text-align: center;
    padding: 20px;
    margin: auto;
    text-transform: capitalize;
}
body img{
    float: left;
    padding: auto;
    height: 300px;
    border-radius: 100px;
    text-align: right;
}
.aboutauthor{
    text-align: center;
    font-size: 45px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Courier New', Courier;
}
body p{
    font-size: 25px;
    color: rgb(8, 6, 6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-top: -100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(131, 131, 131);   
    position: absolute;
    border-radius: 50px;
    top: 70%;
    left: 60%;
    transform: translate(-50%,-50%);
    scroll-behavior: smooth;
}