body{
    background-color: rgb(236, 134, 134);
}
body h1{
    background-color: rgb(78, 169, 175);
    text-align: center;
    padding: 20px;
    margin: auto;
    text-transform: capitalize;
}
body img{
    float: left;
    padding: auto;
    height: 300px;
    border-radius: 100px;
}
.aboutauthor{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Courier New', Courier;
}
.authorpara{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-top: -100px;
    background-color: black;
    border: 20px solid green;
    
}